{% extends 'main/index.html' %}

{% block Bienvenida %}
<header class="hero-section">
    <div class="container">
        <h1 class="display-4 fw-bold text-dark">Bienvenido {{ user }}</h1>
        <p class="lead text-dark">Gestiona las operaciones del Comedor</p>
    </div>
</header>
{% endblock %}

{% block content %}
<div class="container">
    
    <div class="row g-4 justify-content-center">

        <div class="col-md-6 col-lg-3">
            <div class="card card-custom p-4 text-center h-100 d-flex flex-column position-relative">
                <div class="icon-box text-info"> 
                    <i class="bi bi-building"></i> </div>
                <h4 class="fw-bold">Colegios</h4>
                <p class="text-muted small">Administrar niveles, grados y secciones escolares.</p>
                <a href="{% url 'home_colegios' %}" class="btn btn-outline-info w-100 mt-2 mt-auto stretched-link">Ver Colegios</a>
            </div>
        </div>

        <div class="col-md-6 col-lg-3">
            <div class="card card-custom p-4 text-center h-100 d-flex flex-column position-relative">
                <div class="icon-box text-danger"> <i class="bi bi-egg-fried"></i>
                </div>
                <h4 class="fw-bold">Comedor</h4>
                <p class="text-muted small">Detalles de menú, reservas y consumos diarios.</p>
                <a href="{% url 'comedor_home' %}" class="btn btn-outline-danger w-100 mt-2 mt-auto stretched-link">Ver Comedor</a>
            </div>
        </div>

        <div class="col-md-6 col-lg-3">
            <div class="card card-custom p-4 text-center h-100 d-flex flex-column position-relative">
                <div class="icon-box text-usuarios">
                    <i class="bi bi-shop"></i>
                </div>
                <h4 class="fw-bold">Kiosco</h4>
                <p class="text-muted small">Administrar accesos, roles y permisos del sistema.</p>
                <a href="{% url 'home_kiosco' %}" class="btn btn-outline-usuarios w-100 mt-2 mt-auto stretched-link">Ver Kiosco</a>
            </div>
        </div>

    </div>
</div>
{% endblock %}